/* sprites */
#block {
  animation: block 1s infinite linear;
}

#character {
}

/* animations */
@keyframes block {
  0%{left: 478px;}
  100%{left: -40px;}
}

@keyframes jump {
  0%{top: 150px;}
  30%{top: 100px;}
  70%{top: 100px;}
  100%{top: 150px;}
}

/* function */
.animate {
  animation: jump 500ms;
}