/* sprites */
#block {
  animation: block 3s infinite linear;
  z-index: 1;
  width: 50px;
  height: 20px;
  position: absolute;
  left: 120px;
  bottom: 35px;

  display: none;
}

#character {
  background-image: url("/images/car.png") repeat-none;
  width: 160px;
  height: 80px;
  position: absolute;
  left: 120px;
  bottom: 25px;
  z-index: 1;
}

/* background */
#background {
 background: url("/images/bg.png") repeat-x;
 height: 200px;
 width: 1400px;
 z-index: 0;
 animation: background 7s infinite linear;
 background-size: contain;
}

/* animations */
@keyframes block {
  0%{left: 478px;}
  100%{left: -40px;}
}

@keyframes jump {
  0%{transform: translate(0, 0);}
  50%{transform: translate(0, -50px);}
  100%{transform: translate(0, 0);}
}

@keyframes background {
  0%{transform: translate(0,0);}
  100%{transform: translate(-500px,0);}
}

/* function */
.animate {
  animation: jump 500ms ease;
}

.background {

}